* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Title {
display: flex;
justify-content: space-between;
padding: 20px 30px;
font-size: 35px;
font-family: 'IBM Plex Serif', serif;
position: fixed;
top: 0;
width: 100%;
z-index: 999999;
background-color: #D69F7E;
transition: ease-in;

}

.Title .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.Title .navbar:hover {
    background-color: white;
    cursor: pointer;
    
}

.Title .icon:hover {
    background-color: white;
    cursor: pointer;
}

.Title .icon.hide-btn {
    cursor: default;
    pointer-events: none;
    opacity: 0.3;
}

body {
    background-color: #774936;
}
.content {
    display: flex;
    width: 80%;
}
.content1 {
    width: 50%;
    display: block;
}
.content1 p.show {
    opacity: 1 !important;
}
.content1 p{
    opacity: 0;
    transition: all 1s ease;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    font-family: 'Lato', sans-serif;
}

.show { 
 display: block !important;
}

.Main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img {
    position: absolute;
    /* z-index: 1; */
    border-radius: 5%;
    width: 30%;
    height: 80%;
    margin-top: 80px;
    margin-right: 70px;
    background-position: center;
    background-size: 105%;
    background-image: url("https://cdn.britannica.com/80/152480-050-B4E0DF6C/Victoria-Prince-Albert-Windsor-Park.jpg");
    transition: all 2s ease;
}

.img.right {
    transform: translateX(400px);
    
}

.img.left {
    transform: translateX(-400px);
    background-image: url("http://historytoday.com/sites/default/files/articles/victoriawedding.jpg");
    background-size: 100%;
    /* background-position-x: -80px; */
    width: 43%;
    height: 60%;
    
}